body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Sigmar One', cursive;
}

h1 {
  color: maroon;
  text-align: center;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  color: olive;
}

#info_holder {
  margin:0 auto;
  width: 50%;
}

#info_holder b {
  color: maroon;
}

.button {
  text-align: center;
  color: olive;
  background-color: white;
  border-radius: 15px;
  width: 180px;
}